div.MuiPickersArrowSwitcher-root.css-9reuh9-MuiPickersArrowSwitcher-root .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
    background: white;

}

div.MuiPickersArrowSwitcher-root.css-9reuh9-MuiPickersArrowSwitcher-root .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
    background: white;

}

button.css-5l1v01-MuiButtonBase-root-MuiButton-root.Mui-disabled {
    background-color: rgba(0, 200, 0, 0.5);
}

button.css-cjwzo1-MuiButtonBase-root-MuiButton-root.Mui-disabled{
    background-color: rgba(0, 200, 0, 0.5);
}

.css-4788np-MuiInputBase-root-MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline{
    border-color: white !important ;
}